@use "colors";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: colors.$font-family;
}

body {
  background-color: colors.$background-color;
  color: colors.$primary-color;
  font-size: colors.$font-size;
  font-weight: colors.$regular;
}

.jobPosting {
  background-color: white;
  width: auto;
  margin: 30px;
  padding: 10px;
}

// header {
//   width: auto;
// }

.jobPostingTitle {
  display: flex;
  gap: 10px;

  .company {
    margin-right: 20px;
    font-size: 18px;
  }

  span {
    align-items: center;
    border-radius: 20px;
    padding: 0px 6px;
  }

  .new {
    color: colors.$filter-tablets;
    background-color: colors.$dark-grayish-cyan;
  }

  .featured {
    color: colors.$filter-tablets;
    background-color: colors.$very-dark-grayish-cyan;
  }
}

.contractAndLocation {
  display: flex;

  :first-child {
    list-style: none;
  }

  li {
    margin-right: 20px;
  }
}

.languagesAndToolsList {
  display: flex;
  gap: 10px;

  // button {
  //   background-color: colors.$languages-tools;
  //   border: none;
  // }

  // button:hover {
  //   background-color: red;
  // }
}
