*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  font-size: 15px;
  font-weight: 500;
}

.jobPosting {
  background-color: white;
  width: auto;
  margin: 30px;
  padding: 10px;
}

.jobPostingTitle {
  display: flex;
  gap: 10px;
}
.jobPostingTitle .company {
  margin-right: 20px;
  font-size: 18px;
}
.jobPostingTitle span {
  align-items: center;
  border-radius: 20px;
  padding: 0px 6px;
}
.jobPostingTitle .new {
  color: hsl(180, 31%, 95%);
  background-color: hsl(180, 8%, 52%);
}
.jobPostingTitle .featured {
  color: hsl(180, 31%, 95%);
  background-color: hsl(180, 14%, 20%);
}

.contractAndLocation {
  display: flex;
}
.contractAndLocation :first-child {
  list-style: none;
}
.contractAndLocation li {
  margin-right: 20px;
}

.languagesAndToolsList {
  display: flex;
  gap: 10px;
}
